<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
  	<div class="container">
		<h2>Fixtures 2016-2017</h2>
		{{name}} <!--Primera division -->
		<div class="panel panel-default">
			{% for round in rounds %}
				<div class="panel-heading">
					<div class="label label-default">{{round.name}}</div><!-- Jornada -->
					{% set jor = round.name|split(' ')%}
				</div>
					{% for i in 0..9 %}
						<a href="/match/jornada/{{jor[1]-1}}/partido/{{i}}"><div class="panel-body">
							{{round.matches[i].date}}
							{{round.matches[i].team1.name}}
							<span class="label label-default">
								{{round.matches[i].score1}}
								<span>-</span>
								{{round.matches[i].score2}}</span>
							{{round.matches[i].team2.name}}</a>
							
						</div>
					{% endfor %}
				
			{% endfor %}
		</div>
	</div>





    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>

